<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    %%PAGE_CSS_LINK%%
    
    <title>%%TAB_TITLE%%</title>
</head>
<body>
    <!-- Links (sit on top) -->
<div class="w3-top">
    <div class="w3-row w3-padding w3-light-blue">
      <div class="w3-col s3">
        <a href="/" class="w3-button w3-block w3-light-blue">HOME</a>
      </div>
      <div class="w3-col s3">
        <a class="w3-button w3-block w3-light-blue">ABOUT</a>
      </div>
      <div class="w3-col s3">
        <a class="w3-button w3-block w3-light-blue">Creator</a>
      </div>
      <div class="w3-col s3">
        <a href="/login" class="w3-button w3-block w3-light-blue">Login</a>
      </div>
    </div>
  </div>

